# Next.js specific
frontend/.next/
frontend/out/
frontend/build/
frontend/next-env.d.ts
frontend/.vercel
frontend/*.tsbuildinfo
frontend/node_modules/*

# Node server specific
node-server/node_modules/
node-server/uploads/
node-server/*.log
node-server/dist/

# C++ specific
proto/*.pb.cc
proto/*.pb.h
cpp-server/build

.vscode
node_modules